@import "../../helpers";
.nav-section {
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: #f9f9f9;
   position: relative;
   display: block;

  
   .container {
      max-width: 1200px;
      margin-right: auto;
      margin-left: 60px;
      padding-right: 15px;
      padding-left: 15px;
      opacity: 1;
      transition-property: opacity;
      transition-duration: 400ms;
      transition-timing-function: ease;

      .nav-wrapper {
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: nowrap;
         position: static;
         text-align: left;
         position: static;
         margin-right: 20px;

         .brand {
            position: relative;
            display: block;
            width: 90px;
            background: red;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            border: 2px solid red;

            img {
               display: inline-block;
               transform: scale(1);
               position: static;
            }

            .tasty-text {
               display: none;
               overflow: visible;

               @include md {
                  display: block;
                  position: absolute;
                  // top: 29%;
                  right: -109px;
                  bottom: 20%;
                  margin-left: 0px;
                  padding-left: 0px;
                  white-space: nowrap;
               }
            }
         }

         .cart-nav-wrapper {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 55vw;

            .nav-menu {
               flex-grow: 0;
               flex-shrink: 1;
               flex-basis: auto;
               object-fit: fill;
               display: none;

               @include md {
                  width: 100vw;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  background-color: hsla(0, 78.72%, 63.14%, 1);
                  display: flex;
                  justify-content: flex-end;
                  .nav-links {
                     display: flex;
                     flex-direction: column;
                     flex-basis: 100%;
                     flex: 0.5;
                     margin-left: 20px;
                     margin-right: 20px;
                     text-decoration: none;
                  }
                  // position: relative;
               }
            }
            .cart-button {
              position: absolute;
              right: 10%;

              @include md {
                position: static;
              }
            }
         }
      }
   }

   .container:medium {
      padding-right: 15px;
      padding-left: 15px;
   }
}
